<a href="https://colab.research.google.com/github/nguyenvudev20/mse22.python4engineer/blob/main/Bai_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bài tập Assignment : Cho tập dữ liệu về doanh số bán hàng gồm các thông tin như sau 
Dữ liệu: (https://drive.google.com/file/d/1QWD8rceAWo6KJYHh6Tx0eBtAM9U1EQno/view?usp=sharing(sad)
hoặc Superstore Sales Dataset Analysis | Kaggle

## Thêm các thư viện và khởi tạo dữ liệu

In [90]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.express as px
import cufflinks as cf


# lấy dữ liệu từ link github
dataf = pd.read_csv('https://raw.githubusercontent.com/nguyenvudev20/mse22.python4engineer/main/train.csv')

## Kiểm tra dữ liệu

In [85]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9802 entries, 0 to 9801
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9802 non-null   int64
 1   Order ID       9802 non-null   object
 2   Order Date     9802 non-null   object
 3   Ship Date      9802 non-null   object
 4   Ship Mode      9802 non-null   object
 5   Customer ID    9802 non-null   object
 6   Customer Name  9802 non-null   object
 7   Segment        9802 non-null   object
 8   Country        9802 non-null   object
 9   City           9802 non-null   object
 10  State          9802 non-null   object
 11  Postal Code    9791 non-null   float64
 12  Region         9802 non-null   object
 13  Product ID     9802 non-null   object
 14  Category       9802 non-null   object
 15  Sub-Category   9802 non-null   object
 16  Product Name   9802 non-null   object
 17  Sales          9802 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [91]:
dataf.shape

(9800, 18)

## Xử lý làm sạch dữ liệu

In [92]:
dataf[dataf.duplicated()]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales]
Index: []

In [93]:
dataf.drop_duplicates()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [94]:
dataf[dataf.duplicated()]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales]
Index: []

In [95]:
dataf.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [96]:
dataf[dataf['Postal Code'].isnull()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2234,2235,CA-2018-104066,05/12/2018,10/12/2018,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03
5274,5275,CA-2016-162887,07/11/2016,09/11/2016,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,Vermont,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20
8798,8799,US-2017-150140,06/04/2017,10/04/2017,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,Vermont,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75
9146,9147,US-2017-165505,23/01/2017,27/01/2017,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98
9147,9148,US-2017-165505,23/01/2017,27/01/2017,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04
9148,9149,US-2017-165505,23/01/2017,27/01/2017,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29
9386,9387,US-2018-127292,19/01/2018,23/01/2018,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92
9387,9388,US-2018-127292,19/01/2018,23/01/2018,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28
9388,9389,US-2018-127292,19/01/2018,23/01/2018,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94
9389,9390,US-2018-127292,19/01/2018,23/01/2018,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04
9741,9742,CA-2016-117086,08/11/2016,12/11/2016,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90

In [97]:
dataf['Postal Code'] = dataf['Postal Code'].fillna('L7L 0A1')

In [98]:
dataf['Order Date'] = pd.to_datetime(dataf['Order Date'],format='%d/%m/%Y')
dataf['Ship Date'] = pd.to_datetime(dataf['Ship Date'],format='%d/%m/%Y')

In [99]:
dataf.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [100]:
dataf.sort_values(by=['Order Date'],inplace=True)

In [101]:
dataf['Ship Date'].value_counts()

2018-09-26    34
2018-12-06    32
2016-12-16    31
2018-12-12    30
2018-09-06    30
              ..
2016-02-22     1
2016-02-20     1
2016-02-14     1
2016-02-16     1
2016-05-14     1
Name: Ship Date, Length: 1326, dtype: int64

## Vẽ biểu đồ thể hiện biến động doanh số theo tháng. Cho biết doanh thu trung bình trong 3 tháng gần nhất.

In [102]:
#Tạo cột Năm-Tháng
dataf['Year Month'] = dataf['Order Date'].apply(lambda x: x.strftime('%Y-%m'))
df = pd.DataFrame(dataf.groupby('Year Month').sum()['Sales'].reset_index())
df

   Year Month        Sales
0     2015-01   14205.7070
1     2015-02    4519.8920
2     2015-03   55205.7970
3     2015-04   27906.8550
4     2015-05   23644.3030
5     2015-06   34322.9356
6     2015-07   33781.5430
7     2015-08   27117.5365
8     2015-09   81623.5268
9     2015-10   31453.3930
10    2015-11   77907.6607
11    2015-12   68167.0585
12    2016-01   18066.9576
13    2016-02   11951.4110
14    2016-03   32339.3184
15    2016-04   34154.4685
16    2016-05   29959.5305
17    2016-06   23599.3740
18    2016-07   28608.2590
19    2016-08   36818.3422
20    2016-09   63133.6060
21    2016-10   31011.7375
22    2016-11   75249.3995
23    2016-12   74543.6012
24    2017-01   18542.4910
25    2017-02   22978.8150
26    2017-03   51165.0590
27    2017-04   38679.7670
28    2017-05   56656.9080
29    2017-06   39724.4860
30    2017-07   38320.7830
31    2017-08   30542.2003
32    2017-09   69193.3909
33    2017-10   59583.0330
34    2017-11   79066.4958
35    2017-12   95739.1210
36    2018-01   43476.4740
37    2018-02   19920.9974
38    2018-03   58863.4128
39    2018-04   35541.9101
40    2018-05   43825.9822
41    2018-06   48190.7277
42    2018-07   44825.1040
43    2018-08   62837.8480
44    2018-09   86152.8880
45    2018-10   77448.1312
46    2018-11  117938.1550
47    2018-12   83030.3888

In [113]:
fig = px.area(y=df['Sales'],x= df['Year Month'], title = 'Doanh Thu Theo Tháng',labels={'x':'Thời Gian','y':'Doanh Thu'}, width=1000, height=500)
fig.update_layout(showlegend = False)
fig.show()

KeyError: ignored

In [105]:
print('Doanh thu trung bình 3 tháng gần nhấ là ',df.tail(3)['Sales'].mean())

Doanh thu trung bình 3 tháng gần nhấ là  92805.55833333333

## Vẽ biểu đồ doanh số bán hàng theo quý và cho biết quý nào có tổng doanh số cao nhất?

In [110]:
#tạo cột Năm-Quý
#dataf['Year Quarter'] = dataf['Order Date'].apply(lambda x: x.strftime('%Y-Q%q'))
dataf['Year Quarter'] = dataf['Order Date'].dt.to_period('Q')

df = pd.DataFrame(dataf.groupby('Year Quarter').sum()['Sales'].reset_index())
df

   Year Quarter        Sales
0        2015Q1   73931.3960
1        2015Q2   85874.0936
2        2015Q3  142522.6063
3        2015Q4  177528.1122
4        2016Q1   62357.6870
5        2016Q2   87713.3730
6        2016Q3  128560.2072
7        2016Q4  180804.7382
8        2017Q1   92686.3650
9        2017Q2  135061.1610
10       2017Q3  138056.3742
11       2017Q4  234388.6498
12       2018Q1  122260.8842
13       2018Q2  127558.6200
14       2018Q3  193815.8400
15       2018Q4  278416.6750

In [111]:
fig = px.area(y=df['Sales'],x= df['Year Quarter'], title = 'Doanh Thu Theo Quý',labels={'x':'Thời Gian','y':'Doanh Thu'}, width=1000, height=500)
fig.update_layout(showlegend = False)
fig.show()

TypeError: ignored